<%- include('./header') %>
<div class="container">
	<div class="row">
	    <div class="col-md-12">	<h2>Groups You may like </h2> </div>
	</div>

    <div class="row">

						<div class="col-md-12">
							<div class="widget blank no-padding">
								<div class="panel panel-default work-progress-table">
									  <!-- Default panel contents -->
									<div class="panel-heading">
										<div class="dropdown rounded">

											<%if (userinfo) { %><button class="btn btn-danger pull-right"  data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-plus"></span> Create Group</button><% } %>
										</div>
									</div>
									  <!-- Table -->
									<table id="mytable" class="table">
										<thead>
										  <tr>
											<th>Group Name</th>
                      <th>Description</th>
											<th style="width:25%">Status</th>
										  </tr>
										</thead>
										<tbody>
                      <% for(var i=0; i < groups.length; i++) { %>
                          <li>
                              <tr>

                              <td><a href="/group_detail?gid=<%= groups[i].GID %>"><%= groups[i].GNAME %></a></td>
                              <td><%= groups[i].GNAME %></td>
                              <td><%= groups[i].GNAME %></td>
                              <td>
                                <div class="progress">
                                  <!-- <%if (i < 3) { %>
                                    <span class="label label-primary"><%= groups[i].GNAME %></span>
                                  <% } else if (i < 6) { %>
                                    <span class="label label-success"><%= groups[i].GNAME %></span>
                                  <% } else { %>
                                    <span class="label label-default"><%= groups[i].GNAME %></span>
                                  <% } %> -->
                                  <!-- <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="red progress-bar">

                                   </div> -->
                                </div>
                              </td>
                              <td><a href="/group_detail?gid=<%= groups[i].GID %>" style="text-decoration: none"><span class="label label-info">Join</span></a></td>
                              </tr>

                          </li>
                      <% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Create group</h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to create group?</div>

      </div>
        <div class="modal-footer ">
        <a href="/creategroup"><button type="button" id="createGroup" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
  	</div>
    <!-- /.modal-content -->
	</div>
      <!-- /.modal-dialog -->
</div>
<script src="js/upload.js"></script>
<script src="js/jquery.js"></script>
<script src="js/main.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<%- include('./footer') %>
