<%- include('./header') %>
<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1><%= group %></h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <%if (joinit) { %><a class="btn btn-primary btn-lg" href="/joingroup?gid=<%= gid %>">JOIN NOW</a><% } %>
            <%if (leaveit) { %><a class="btn btn-primary btn-lg" href="/leavegroup?gid=<%= gid %>">LEAVE</a><% } %>
            <%if (createmeeting) { %><a class="btn btn-primary btn-lg" href="/createmeeting?gid=<%= gid %>">CREATE MEETING</a><% } %>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Upcoming meetings hold by this group~
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <% for(var i=0; i < number_of_new_meeting; i++) { %>
        <div class="col-md-4">
            <h2><%= new_meetings[i].MNAME %></h2>
            <p>Location: <%= new_meetings[i].MLOCATION %></p>
            <p>Time: <%= new_meetings[i].MTIME %></p>
            <a class="btn btn-default" href="/meeting_detail?gid=<%= gid %>&mid=<%= new_meetings[i].MID %>">More Info</a>
        </div>
      <% } %>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Past meetings hold by this group~
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <% for(var i=0; i < number_of_old_meeting; i++) { %>
        <div class="col-md-4">
            <h2><%= old_meetings[i].MNAME %></h2>
            <p>Location: <%= old_meetings[i].MLOCATION %></p>
            <p>Time: <%= old_meetings[i].MTIME %></p>
            <a class="btn btn-default" href="/meeting_detail?gid=<%= gid %>&mid=<%= old_meetings[i].MID %>">More Info</a>
        </div>
      <% } %>
        <!-- /.col-md-4 -->
    </div>
</div>
<script src="js/upload.js"></script>
<script src="js/jquery.js"></script>
<script src="js/main.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<%- include('./footer') %>
