<%- include('./header') %>

<div class="container">
	<div class="row">
	    <div class="col-md-12">	<h2>Meetings info </h2> </div>
	</div>

    <div class="row">

						<div class="col-md-12">
							<div class="widget blank no-padding">
								<div class="panel panel-default work-progress-table">
                  <!-- Default panel contents -->

                    <div class="dropdown rounded">
                      <button class="btn btn-danger pull-right"  data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon"></span>History</button>
                    </div>

									  <!-- Table -->
									<table id="mytable" class="table">
										<thead>
										  <tr>
											<th>Meeting Name</th>
                                            <th>Belongs to Group</th>
                                            <th>Location</th>
											<th style="width:25%">Start Time</th>
                                            <th>Last</th>
										  </tr>
										</thead>
										<tbody>
                      <% for(var i=0; i < meetings.length; i++) { %>
                          <li>
                              <tr>

                              <td><a href="/meeting_detail?meeting=<%= meetings[i].MNAME %>"><%= meetings[i].MNAME %></a></td>
                            <td><a href="/group_detail?gname=<%= meetings[i].GNAME %>"><%= meetings[i].GNAME %></a></td>
                              <td><%= meetings[i].MLOCATION %></td>
                              <td><%= meetings[i].MTIME %></td>
                              <td><%= meetings[i].LASTTIME %></td>
                              <td><a href="/group_detail?gname=<%= meetings[i].GNAME %>" style="text-decoration: none"><span class="label label-info">Register</span></a></td>
                              </tr>

                          </li>
                      <% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">

       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>
