<%- include('./header') %>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="http://a.hiphotos.baidu.com/image/h%3D200/sign=c8bf10e9aeefce1bf52bcfca9f51f3e8/bba1cd11728b4710e142aed3cacec3fdfc0323bb.jpg" class="img-responsive" style="width:100%;max-width:355px;height:100%;max-height:355px;">
      </div>
      <div class="col-md-6">
        <h1><%=nick_name%></h1>
         <h3><%=login_name%></h3>
         <!-- profile here <p></p> -->
       </div>
     </div>
   </div>
 </div>
 <br><br>
 <div class="section">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <h1 class="text-center">Already posts</h1>
         <p class="text-center">counts:</p>
       </div>
     </div>

     <div class="row">
       <% for(var i=0; i < recipes.length; i++) { %>

       <div class="col-md-2">
         <img src="<%= recipes[i].photos %>" class="img-responsive" style="width:100%;max-width:200px;height:100%;max-height:100px;">
       </div>
       <div class="col-md-3">
         <a href="/detail?rid=<%= recipes[i].rid %>"><h3 class="text-left"><%= recipes[i].title %></h3></a>
         <p class="text-left"><%= recipes[i].description %></p>
       </div>
       <% } %>
     </div>
    </div>
  </div>
  <br><br>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Groups</h1>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="section">
    <div class="container">
      <div class="row">
        <% for(var i=0; i < groups.length; i++) { %>
        <div class="col-md-3">
          <a href="/group_detail?gid=<%= groups[i].gid %>"><h3><%= groups[i].gname %></h3></a>
          <p><%= groups[i].description %></p>
        </div>
        <% } %>
        </div>
      </div>
    </div>
    <!-- <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"> -->
  </body>
  </html>
